extends layout

block content

	.jumbotron.dashboard

		h3 Hi 
			span.username #{user.username},
		p 
			| You have not launched any feedback-collection campaigns yet. 
			| To get started, please upload a mailing list. 
		
			
		form(action="/file-upload" class="dropzone" id="my-awesome-dropzone").drag-area
			div(data-dz-message).dz-message
				span 
					p Drag your first file here
