extends layout

block content

	.jumbotron.dashboard

		h3 Hi 
			span.username #{user.username},
		p 
			| You have not launched any feedback-collection campaigns yet. 
			| To get started, please upload a mailing list. 
		
			
		form(action="/users/#{user.username}/file_uploads" method="post" enctype="multipart/form-data")
			label(for="file") Upload your first campaign
			input(type="file" name="file" id="file" class="inputfile")
			input(type="submit" value="Upload Image")