extends layout

block content

	.jumbotron.dashboard

		if (!campaigns)
			h3 Hi 
				span.username #{user},
			p  
				| To get started, please upload a plain csv (with headers) of user feedback. 
			
				
			form(action="/users/#{user}/file_uploads" method="post" enctype="multipart/form-data")
				input(type="file" name="file" id="file" class="inputfile")
				label(for="file" id="file-label" class="btn btn-danger")
					span(class="file-label-text") 
						i(class="fa fa-upload") 
						| Upload your review data
				input(type="submit" value="Upload Image" id="file-submit" class="btn btn-danger upload-submit")

		if (campaigns)
			h3 Your feedback campaigns 
			div(class="uploaded-file") 
				div(class="file-wrapper")
					span
						| #{campaigns}
					i(class="fa fa-times delete-x")

				
			//- form(action="/users/#{user.username}/file_uploads" method="post" enctype="multipart/form-data")
			//- 	input(type="file" name="file" id="file" class="inputfile")
			//- 	label(for="file" id="file-label" class="btn btn-danger")
			//- 		span(class="file-label-text") 
			//- 			i(class="fa fa-upload") 
			//- 			| 	Upload your first campaign
			//- 	input(type="submit" value="Upload Image" id="file-submit" class="btn btn-danger upload-submit")