extends layout

block content

	.jumbotron.dashboard

		h3 Hi 
			span.username #{user.username},
		p 
			| You have not launched any feedback-collection campaigns yet. 
			| To get started, please upload a mailing list. 
		
			
		form(action="/users/#{user.username}/uploads" class="dropzone" id="mail-drop-area" method="post").drag-area
			div(data-dz-message).dz-message
				span
					p
						i(class="fa fa-cloud-upload drag-icon") 
					p Drag your first file here, or click to browse your computer
