extends layout

block content
	header
		h1 INPPUT
		nav
			a(href=login_p) Login
			a(href=signup_p) Sign Up
			a(class="menu", href="#") MENU


	section(class="col solid-border")

		h1=title
			
		article(class="dashed-border")
				
			h2 {Section Headline Goes Here}
				
			
		article(class="dashed-border")
				
			h2 {Section Headline Goes Here}
				
			
		article(class="dashed-border")
				
			h2 {Section Headline Goes Here}
				

	footer(class="col solid-border")
		p {Footer Goes Here}
		