extends layout

block content
	.jumbotron
		if (!user)
			h1= app_uvp	
			a(href="signup")
				button.btn.btn-danger(type='button') Sign Up (It's FREE)
		if (user)
			h3 Welcome to Inpput!
			p You are currently logged in as #{user.username}.
			
		