doctype html
html
  head
    title= app_name + ": " + app_uvp
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/css/reset.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,700,300,600,400', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/css/style.css')
  body
    header
      a(href="/") 
        h1 INPPUT
        nav
          a(href=login_p) Login
          a(href=signup_p) Sign Up
          a(class="menu", href="#") MENU


  block content	