extends layout

block content

	.jumbotron
		h2 Login to Inpput
		if (info)
			h4= info
			br
			br			
		form(role='form', action="/login", method="post", style='max-width:250px; margin:0 auto;')
			.form-group
				input.form-control(type='text', name="username", placeholder="Enter Username")
			.form-group
				input.form-control(type='password', name="password", placeholder='Password')
			button.btn.btn-danger.site-entry(type='submit') Login Now

		
		

			
		
				
			
				
			
		
			
				
			
		
				
			
				

	