extends layout

block content
	section(class="col solid-border")

		h1 Login to Inpput
			
		article(class="dashed-border")
				
			
				
			
		article(class="dashed-border")
				
			
				
			
		article(class="dashed-border")
				
			
				

	footer(class="col solid-border")
		p {Footer Goes Here}