// mixins for browser compatibility (doesn't account for IE9 and below)

// CSS animation pre-fixes:


@mixin animation($vals) {
  -webkit-animation: $vals; /* Safari 4+ */
  -moz-animation:    $vals; /* Fx 5+ */
  -o-animation:      $vals; /* Opera 12+ */
  animation:         $vals; /* IE 10+, Fx 29+ */
}




 

