// Define modular scale-------------------------------------------------------

$scale-ratio: 1.667;



// Define body font-----------------------------------------------------------

$base-font-size: 1rem;
$base-font-weight: 500;
$base-font-family: "Avenir", sans-serif;
$base-font-color: #666;
$link-font-color: #47C5A9;

@mixin body-font() {
	font-family: $base-font-family;
	color: $base-font-color;
	font-size: $base-font-size;
	font-weight: $base-font-weight;
}

li, a, p {
	@include body-font();
}

a {
	color: $link-font-color;
	text-decoration: none;
}



// Define largest headline font-----------------------------------------------

$header-font-size: $base-font-size * ($scale-ratio * 3);
$header-font-weight: 700;
$header-font-color: #666;
$header-font-family: "Avenir", sans-serif;


@mixin headline-font() {
	font-family: $header-font-family;
	color: $header-font-color;
	font-size: $header-font-size;
	font-weight: $header-font-weight;
}


h1 {
	@include headline-font();
}

h2 {
	@extend h1;
	font-size: $base-font-size * 1.5;
}

h3 {
	font-family: 'Avenir', sans-serif;
    color: #666;
    font-size: 28px;
    margin-bottom: 10px;
}



nav ul a {	
	color: #fff;
}


.jumbotron {
	padding: 150px 0;
}

.jumbotron h1 {
	margin-bottom: 1.5rem;
}

.jumbotron h2.subhead {
	font-weight: normal;
	margin-bottom: 3.5rem;
	line-height: 1.5;
	padding: 0 30px;
}

.jumbotron.dashboard {
	text-align: left;

	padding: 70px 200px;
}

.username {
	text-transform: capitalize;
}

.drag-area p {
	text-align: center;
	margin: 0 auto;
	max-width: 300px;
	color: #aaa;
}

.drag-icon {
	font-size: 72px;
	margin-bottom: 15px;
	color: #aaa;
}


.drag-area p:first-child {
	margin-bottom: 0;
	
}