/**
 * CONTENTS
 *
 *
 * NORMALIZE
 * Reset.css........Level the playing field.
 * Box-sizing...........Better default `box-sizing`.
 *
 *
 * GLOBAL
 * Global...............Globally-available variables and config.
 *
 *
 * CROSS-BROWSER PREFIXES
 * Flexbox
 * Animations
 *
 *
 * OBJECTS
 * Wrappers and constraining objects
 *
 *
 * MAIN COMPONENTS
 * Main-head............The main page header.
 * Main-foot............The main page footer.
 * Buttons..............Button elements.
 *
 * PAGE-SPECIFIC COMPONENTS
 *
 * TRUMPS
 * Text.................Text helpers.
 */



// IMPORT ----------------------------------------------

@import "reset"; 

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }


@import "colors";
@import "typography";
@import "prefixes";




// TEMPLATE ELEMENTS -------------------------------------


body {
  background-color: $background-color;
}

body > nav.navbar.navbar-fixed-top {
  background-color: $accent-color; 
}

#navbar > ul.nav.navbar-nav {
  float: right;
}

@media (min-width: 768px) {
    .navbar>.container .navbar-brand,.navbar>.container-fluid .navbar-brand {
      margin:13px 0px 10px 0px;
      padding-left:0;
    }
}

body > nav > div > div.navbar-header > a > img {
  width: 55%;
  padding: 0;
}

a.primary-button {
  font-size: 1.2rem;
  padding: 20px 30px;
  background-color: $cta-color;
  color: #fff;
  border-radius: 5px;

}

#navbar > ul.nav.navbar-nav > li {
  margin: 10px 15px;
}

#navbar > ul.nav.navbar-nav > li:last-child {
  border: 2px solid #fff;
  border-radius: 5px;
  margin-right: 0;
}

.navbar-toggle {
  background-color: transparent;
  background-image: none;
  border: 2px solid #fff;
  border-radius: 4px;
}

.icon-bar {
  background-color: #fff;
}

div[role="main"] {
  margin-top: 100px;
}

.jumbotron {
  text-align: center;
}


.btn {
  font-size: 20px;
  padding: 15px 30px;
}


// PAGE-SPECIFIC ELEMENTS --------------------------------

.drag-area {
  width: 90%;
  height: 500px;
  margin: 60px auto;
  padding: 170px 30px;
  background: #ffffff;
  -moz-box-shadow:    inset 0 0 6px #999;
  -webkit-box-shadow: inset 0 0 6px #999;
  box-shadow:         inset 0 0 6px #999;
  border-radius: 5px;
}




// MEDIA QUERIES -----------------------------------------





// TRUMPS -------------------------------


.red-border {
	border: solid 1px #f00;
}

.blue-border {
	border: solid 1px #00f;
}

.invisible {
  visibility:hidden;
}

.hidden {
  display:none;
}








